In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.6)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.10)

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download yasserh/titanic-dataset

Dataset URL: https://www.kaggle.com/datasets/yasserh/titanic-dataset
License(s): CC0-1.0
titanic-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
from zipfile import ZipFile

reviews='/content/titanic-dataset.zip'
with ZipFile(reviews, 'r') as zip:
  zip.extractall()
  print('The dataset is extracted')

The dataset is extracted

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
titanic_data=pd.read_csv('/content/Titanic-Dataset.csv')
titanic_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanic_data.shape

(891, 12)

In [ ]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
titanic_data.fillna(0, inplace=True)

In [ ]:
titanic_data['Sex'].value_counts()

Sex
0    577
1    314
Name: count, dtype: int64

In [ ]:
titanic_data['Embarked'].value_counts()

Embarked
2.0    644
1.0    168
0.0     79
Name: count, dtype: int64

In [ ]:
titanic_data.replace({'Sex':{'male':0,'female':1}},inplace=True)
titanic_data.replace({'Embarked':{'Q':0,'C':1,'S':2}},inplace=True)

In [ ]:
unique_strings=titanic_data['Name'].unique()

In [ ]:
print(unique_strings)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396
 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414
 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432
 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450
 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468
 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486
 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504
 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522
 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540
 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558
 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576
 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594
 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612
 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630
 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648
 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666
 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684
 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702
 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720
 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738
 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756
 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774
 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792
 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810
 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828
 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846
 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864
 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882
 883 884 885 886 887 888 889 890 891]

In [ ]:
string_to_int_mapping={string:index+1 for index,string in enumerate(unique_strings)}

In [ ]:
print(string_to_int_mapping)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26, 27: 27, 28: 28, 29: 29, 30: 30, 31: 31, 32: 32, 33: 33, 34: 34, 35: 35, 36: 36, 37: 37, 38: 38, 39: 39, 40: 40, 41: 41, 42: 42, 43: 43, 44: 44, 45: 45, 46: 46, 47: 47, 48: 48, 49: 49, 50: 50, 51: 51, 52: 52, 53: 53, 54: 54, 55: 55, 56: 56, 57: 57, 58: 58, 59: 59, 60: 60, 61: 61, 62: 62, 63: 63, 64: 64, 65: 65, 66: 66, 67: 67, 68: 68, 69: 69, 70: 70, 71: 71, 72: 72, 73: 73, 74: 74, 75: 75, 76: 76, 77: 77, 78: 78, 79: 79, 80: 80, 81: 81, 82: 82, 83: 83, 84: 84, 85: 85, 86: 86, 87: 87, 88: 88, 89: 89, 90: 90, 91: 91, 92: 92, 93: 93, 94: 94, 95: 95, 96: 96, 97: 97, 98: 98, 99: 99, 100: 100, 101: 101, 102: 102, 103: 103, 104: 104, 105: 105, 106: 106, 107: 107, 108: 108, 109: 109, 110: 110, 111: 111, 112: 112, 113: 113, 114: 114, 115: 115, 116: 116, 117: 117, 118: 118, 119: 119, 120: 120, 121: 121, 122: 122, 123: 123, 124: 124, 125: 125, 126: 126, 127: 127, 128: 128, 129: 129, 130: 130, 131: 131, 132: 132, 133: 133, 134: 134, 135: 135, 136: 136, 137: 137, 138: 138, 139: 139, 140: 140, 141: 141, 142: 142, 143: 143, 144: 144, 145: 145, 146: 146, 147: 147, 148: 148, 149: 149, 150: 150, 151: 151, 152: 152, 153: 153, 154: 154, 155: 155, 156: 156, 157: 157, 158: 158, 159: 159, 160: 160, 161: 161, 162: 162, 163: 163, 164: 164, 165: 165, 166: 166, 167: 167, 168: 168, 169: 169, 170: 170, 171: 171, 172: 172, 173: 173, 174: 174, 175: 175, 176: 176, 177: 177, 178: 178, 179: 179, 180: 180, 181: 181, 182: 182, 183: 183, 184: 184, 185: 185, 186: 186, 187: 187, 188: 188, 189: 189, 190: 190, 191: 191, 192: 192, 193: 193, 194: 194, 195: 195, 196: 196, 197: 197, 198: 198, 199: 199, 200: 200, 201: 201, 202: 202, 203: 203, 204: 204, 205: 205, 206: 206, 207: 207, 208: 208, 209: 209, 210: 210, 211: 211, 212: 212, 213: 213, 214: 214, 215: 215, 216: 216, 217: 217, 218: 218, 219: 219, 220: 220, 221: 221, 222: 222, 223: 223, 224: 224, 225: 225, 226: 226, 227: 227, 228: 228, 229: 229, 230: 230, 231: 231, 232: 232, 233: 233, 234: 234, 235: 235, 236: 236, 237: 237, 238: 238, 239: 239, 240: 240, 241: 241, 242: 242, 243: 243, 244: 244, 245: 245, 246: 246, 247: 247, 248: 248, 249: 249, 250: 250, 251: 251, 252: 252, 253: 253, 254: 254, 255: 255, 256: 256, 257: 257, 258: 258, 259: 259, 260: 260, 261: 261, 262: 262, 263: 263, 264: 264, 265: 265, 266: 266, 267: 267, 268: 268, 269: 269, 270: 270, 271: 271, 272: 272, 273: 273, 274: 274, 275: 275, 276: 276, 277: 277, 278: 278, 279: 279, 280: 280, 281: 281, 282: 282, 283: 283, 284: 284, 285: 285, 286: 286, 287: 287, 288: 288, 289: 289, 290: 290, 291: 291, 292: 292, 293: 293, 294: 294, 295: 295, 296: 296, 297: 297, 298: 298, 299: 299, 300: 300, 301: 301, 302: 302, 303: 303, 304: 304, 305: 305, 306: 306, 307: 307, 308: 308, 309: 309, 310: 310, 311: 311, 312: 312, 313: 313, 314: 314, 315: 315, 316: 316, 317: 317, 318: 318, 319: 319, 320: 320, 321: 321, 322: 322, 323: 323, 324: 324, 325: 325, 326: 326, 327: 327, 328: 328, 329: 329, 330: 330, 331: 331, 332: 332, 333: 333, 334: 334, 335: 335, 336: 336, 337: 337, 338: 338, 339: 339, 340: 340, 341: 341, 342: 342, 343: 343, 344: 344, 345: 345, 346: 346, 347: 347, 348: 348, 349: 349, 350: 350, 351: 351, 352: 352, 353: 353, 354: 354, 355: 355, 356: 356, 357: 357, 358: 358, 359: 359, 360: 360, 361: 361, 362: 362, 363: 363, 364: 364, 365: 365, 366: 366, 367: 367, 368: 368, 369: 369, 370: 370, 371: 371, 372: 372, 373: 373, 374: 374, 375: 375, 376: 376, 377: 377, 378: 378, 379: 379, 380: 380, 381: 381, 382: 382, 383: 383, 384: 384, 385: 385, 386: 386, 387: 387, 388: 388, 389: 389, 390: 390, 391: 391, 392: 392, 393: 393, 394: 394, 395: 395, 396: 396, 397: 397, 398: 398, 399: 399, 400: 400, 401: 401, 402: 402, 403: 403, 404: 404, 405: 405, 406: 406, 407: 407, 408: 408, 409: 409, 410: 410, 411: 411, 412: 412, 413: 413, 414: 414, 415: 415, 416: 416, 417: 417, 418: 418, 419: 419, 420: 420, 421: 421, 422: 422, 423: 423, 424: 424, 425: 425, 426: 426, 427: 427, 428: 428, 429: 429, 430: 430, 431: 431, 432: 432, 433: 433, 434: 434, 435: 435, 436: 436, 437: 437, 438: 438, 439: 439, 440: 440, 441: 441, 442: 442, 443: 443, 444: 444, 445: 445, 446: 446, 447: 447, 448: 448, 449: 449, 450: 450, 451: 451, 452: 452, 453: 453, 454: 454, 455: 455, 456: 456, 457: 457, 458: 458, 459: 459, 460: 460, 461: 461, 462: 462, 463: 463, 464: 464, 465: 465, 466: 466, 467: 467, 468: 468, 469: 469, 470: 470, 471: 471, 472: 472, 473: 473, 474: 474, 475: 475, 476: 476, 477: 477, 478: 478, 479: 479, 480: 480, 481: 481, 482: 482, 483: 483, 484: 484, 485: 485, 486: 486, 487: 487, 488: 488, 489: 489, 490: 490, 491: 491, 492: 492, 493: 493, 494: 494, 495: 495, 496: 496, 497: 497, 498: 498, 499: 499, 500: 500, 501: 501, 502: 502, 503: 503, 504: 504, 505: 505, 506: 506, 507: 507, 508: 508, 509: 509, 510: 510, 511: 511, 512: 512, 513: 513, 514: 514, 515: 515, 516: 516, 517: 517, 518: 518, 519: 519, 520: 520, 521: 521, 522: 522, 523: 523, 524: 524, 525: 525, 526: 526, 527: 527, 528: 528, 529: 529, 530: 530, 531: 531, 532: 532, 533: 533, 534: 534, 535: 535, 536: 536, 537: 537, 538: 538, 539: 539, 540: 540, 541: 541, 542: 542, 543: 543, 544: 544, 545: 545, 546: 546, 547: 547, 548: 548, 549: 549, 550: 550, 551: 551, 552: 552, 553: 553, 554: 554, 555: 555, 556: 556, 557: 557, 558: 558, 559: 559, 560: 560, 561: 561, 562: 562, 563: 563, 564: 564, 565: 565, 566: 566, 567: 567, 568: 568, 569: 569, 570: 570, 571: 571, 572: 572, 573: 573, 574: 574, 575: 575, 576: 576, 577: 577, 578: 578, 579: 579, 580: 580, 581: 581, 582: 582, 583: 583, 584: 584, 585: 585, 586: 586, 587: 587, 588: 588, 589: 589, 590: 590, 591: 591, 592: 592, 593: 593, 594: 594, 595: 595, 596: 596, 597: 597, 598: 598, 599: 599, 600: 600, 601: 601, 602: 602, 603: 603, 604: 604, 605: 605, 606: 606, 607: 607, 608: 608, 609: 609, 610: 610, 611: 611, 612: 612, 613: 613, 614: 614, 615: 615, 616: 616, 617: 617, 618: 618, 619: 619, 620: 620, 621: 621, 622: 622, 623: 623, 624: 624, 625: 625, 626: 626, 627: 627, 628: 628, 629: 629, 630: 630, 631: 631, 632: 632, 633: 633, 634: 634, 635: 635, 636: 636, 637: 637, 638: 638, 639: 639, 640: 640, 641: 641, 642: 642, 643: 643, 644: 644, 645: 645, 646: 646, 647: 647, 648: 648, 649: 649, 650: 650, 651: 651, 652: 652, 653: 653, 654: 654, 655: 655, 656: 656, 657: 657, 658: 658, 659: 659, 660: 660, 661: 661, 662: 662, 663: 663, 664: 664, 665: 665, 666: 666, 667: 667, 668: 668, 669: 669, 670: 670, 671: 671, 672: 672, 673: 673, 674: 674, 675: 675, 676: 676, 677: 677, 678: 678, 679: 679, 680: 680, 681: 681, 682: 682, 683: 683, 684: 684, 685: 685, 686: 686, 687: 687, 688: 688, 689: 689, 690: 690, 691: 691, 692: 692, 693: 693, 694: 694, 695: 695, 696: 696, 697: 697, 698: 698, 699: 699, 700: 700, 701: 701, 702: 702, 703: 703, 704: 704, 705: 705, 706: 706, 707: 707, 708: 708, 709: 709, 710: 710, 711: 711, 712: 712, 713: 713, 714: 714, 715: 715, 716: 716, 717: 717, 718: 718, 719: 719, 720: 720, 721: 721, 722: 722, 723: 723, 724: 724, 725: 725, 726: 726, 727: 727, 728: 728, 729: 729, 730: 730, 731: 731, 732: 732, 733: 733, 734: 734, 735: 735, 736: 736, 737: 737, 738: 738, 739: 739, 740: 740, 741: 741, 742: 742, 743: 743, 744: 744, 745: 745, 746: 746, 747: 747, 748: 748, 749: 749, 750: 750, 751: 751, 752: 752, 753: 753, 754: 754, 755: 755, 756: 756, 757: 757, 758: 758, 759: 759, 760: 760, 761: 761, 762: 762, 763: 763, 764: 764, 765: 765, 766: 766, 767: 767, 768: 768, 769: 769, 770: 770, 771: 771, 772: 772, 773: 773, 774: 774, 775: 775, 776: 776, 777: 777, 778: 778, 779: 779, 780: 780, 781: 781, 782: 782, 783: 783, 784: 784, 785: 785, 786: 786, 787: 787, 788: 788, 789: 789, 790: 790, 791: 791, 792: 792, 793: 793, 794: 794, 795: 795, 796: 796, 797: 797, 798: 798, 799: 799, 800: 800, 801: 801, 802: 802, 803: 803, 804: 804, 805: 805, 806: 806, 807: 807, 808: 808, 809: 809, 810: 810, 811: 811, 812: 812, 813: 813, 814: 814, 815: 815, 816: 816, 817: 817, 818: 818, 819: 819, 820: 820, 821: 821, 822: 822, 823: 823, 824: 824, 825: 825, 826: 826, 827: 827, 828: 828, 829: 829, 830: 830, 831: 831, 832: 832, 833: 833, 834: 834, 835: 835, 836: 836, 837: 837, 838: 838, 839: 839, 840: 840, 841: 841, 842: 842, 843: 843, 844: 844, 845: 845, 846: 846, 847: 847, 848: 848, 849: 849, 850: 850, 851: 851, 852: 852, 853: 853, 854: 854, 855: 855, 856: 856, 857: 857, 858: 858, 859: 859, 860: 860, 861: 861, 862: 862, 863: 863, 864: 864, 865: 865, 866: 866, 867: 867, 868: 868, 869: 869, 870: 870, 871: 871, 872: 872, 873: 873, 874: 874, 875: 875, 876: 876, 877: 877, 878: 878, 879: 879, 880: 880, 881: 881, 882: 882, 883: 883, 884: 884, 885: 885, 886: 886, 887: 887, 888: 888, 889: 889, 890: 890, 891: 891}

In [ ]:
titanic_data['Name']=titanic_data['Name'].map(string_to_int_mapping)

In [ ]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int64
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    float64
dtypes: float64(3), int64(7), object(2)
memory usage: 83.7+ KB

In [ ]:
x=titanic_data.drop(columns=['Survived','Ticket','Cabin'],axis=1)
y=titanic_data['Survived']

In [ ]:
print(x)

     PassengerId  Pclass  Name  Sex   Age  SibSp  Parch     Fare  Embarked
0              1       3     1    0  22.0      1      0   7.2500       2.0
1              2       1     2    1  38.0      1      0  71.2833       1.0
2              3       3     3    1  26.0      0      0   7.9250       2.0
3              4       1     4    1  35.0      1      0  53.1000       2.0
4              5       3     5    0  35.0      0      0   8.0500       2.0
..           ...     ...   ...  ...   ...    ...    ...      ...       ...
886          887       2   887    0  27.0      0      0  13.0000       2.0
887          888       1   888    1  19.0      0      0  30.0000       2.0
888          889       3   889    1   0.0      1      2  23.4500       2.0
889          890       1   890    0  26.0      0      0  30.0000       1.0
890          891       3   891    0  32.0      0      0   7.7500       0.0

[891 rows x 9 columns]

In [ ]:
print(y)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [ ]:
print(x.shape,x_train.shape,y_train.shape)

(891, 9) (712, 9) (712,)

In [ ]:
print(x_test)

     PassengerId  Pclass  Name  Sex   Age  SibSp  Parch     Fare  Embarked
707          708       1   708    0  42.0      0      0  26.2875       2.0
37            38       3    38    0  21.0      0      0   8.0500       2.0
615          616       2   616    1  24.0      1      2  65.0000       2.0
169          170       3   170    0  28.0      0      0  56.4958       2.0
68            69       3    69    1  17.0      4      2   7.9250       2.0
..           ...     ...   ...  ...   ...    ...    ...      ...       ...
89            90       3    90    0  24.0      0      0   8.0500       2.0
80            81       3    81    0  22.0      0      0   9.0000       2.0
846          847       3   847    0   0.0      8      2  69.5500       2.0
870          871       3   871    0  26.0      0      0   7.8958       2.0
251          252       3   252    1  29.0      1      1  10.4625       2.0

[179 rows x 9 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()

In [ ]:
x_train_std=scaler.fit_transform(x_train)

In [ ]:
x_test_std=scaler.fit_transform(x_test)

In [ ]:
import tensorflow as tf
tf.random.set_seed(3)
from tensorflow import keras

In [ ]:
model=keras.Sequential([
                        keras.layers.Flatten(input_shape=(9,)),
                        keras.layers.Dense(20,activation='relu'),
                        keras.layers.Dense(2,activation='sigmoid')
])

/usr/local/lib/python3.10/dist-packages/keras/src/layers/reshaping/flatten.py:37: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

In [ ]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
history=model.fit(x_train_std,y_train,validation_split=0.2,epochs=10)

Epoch 1/10
18/18 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 22ms/step - accuracy: 0.6701 - loss: 0.6525 - val_accuracy: 0.6713 - val_loss: 0.6148
Epoch 2/10
18/18 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 6ms/step - accuracy: 0.7166 - loss: 0.5881 - val_accuracy: 0.6853 - val_loss: 0.5692
Epoch 3/10
18/18 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 7ms/step - accuracy: 0.7386 - loss: 0.5452 - val_accuracy: 0.7552 - val_loss: 0.5385
Epoch 4/10
18/18 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 7ms/step - accuracy: 0.7856 - loss: 0.5146 - val_accuracy: 0.7552 - val_loss: 0.5175
Epoch 5/10
18/18 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 6ms/step - accuracy: 0.8119 - loss: 0.4921 - val_accuracy: 0.7622 - val_loss: 0.5037
Epoch 6/10
18/18 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 8ms/step - accuracy: 0.8161 - loss: 0.4756 - val_accuracy: 0.7762 - val_loss: 0.4946
Epoch 7/10
18/18 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 7ms/step - accuracy: 0.8129 - loss: 0.4628 - val_accuracy: 0.7832 - val_loss: 0.4888
Epoch 8/10
18/18 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 7ms/step - accuracy: 0.8271 - loss: 0.4527 - val_accuracy: 0.7832 - val_loss: 0.4853
Epoch 9/10
18/18 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 3ms/step - accuracy: 0.8301 - loss: 0.4447 - val_accuracy: 0.7832 - val_loss: 0.4829
Epoch 10/10
18/18 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 7ms/step - accuracy: 0.8278 - loss: 0.4383 - val_accuracy: 0.7762 - val_loss: 0.4813

In [ ]:
loss,accuracy=model.evaluate(x_test_std,y_test)
print(accuracy)

6/6 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - accuracy: 0.7380 - loss: 0.4930
0.7541899681091309

In [ ]:
y_pred=model.predict(x_test_std)

6/6 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 10ms/step

In [ ]:
print(y_pred)

[[0.5696105  0.41029814]
 [0.72955996 0.2566116 ]
 [0.39680484 0.69083595]
 [0.63201714 0.38570878]
 [0.7466555  0.48802772]
 [0.7331187  0.24269718]
 [0.6585719  0.47857285]
 [0.7069785  0.20560233]
 [0.55656856 0.77912116]
 [0.5997474  0.4228338 ]
 [0.64839107 0.2628915 ]
 [0.4295413  0.8564117 ]
 [0.48868293 0.61997837]
 [0.51540315 0.2673828 ]
 [0.5166274  0.2737856 ]
 [0.6888576  0.6124009 ]
 [0.5715851  0.27225688]
 [0.75977916 0.27091196]
 [0.35082254 0.6099996 ]
 [0.675035   0.40595672]
 [0.4435167  0.616201  ]
 [0.37851304 0.5199928 ]
 [0.87331086 0.38934797]
 [0.65948504 0.66241974]
 [0.6600448  0.32493925]
 [0.45816267 0.4838971 ]
 [0.4109378  0.7585121 ]
 [0.5934232  0.37706882]
 [0.7278416  0.28330693]
 [0.67391247 0.32949105]
 [0.6884715  0.19201389]
 [0.7670767  0.28708044]
 [0.6168612  0.5068089 ]
 [0.3575235  0.32597482]
 [0.5542521  0.2893681 ]
 [0.6135664  0.6837008 ]
 [0.41107032 0.8323021 ]
 [0.84576935 0.27340668]
 [0.64854985 0.23728824]
 [0.61799204 0.30213237]
 [0.7531521  0.29674983]
 [0.5662669  0.32486415]
 [0.5323466  0.63523614]
 [0.8216349  0.31059644]
 [0.70605844 0.20952494]
 [0.36546308 0.6941298 ]
 [0.39589825 0.83015585]
 [0.6548449  0.25370598]
 [0.6864473  0.32847443]
 [0.44232515 0.71434414]
 [0.6280572  0.20157447]
 [0.5861674  0.42582914]
 [0.59583384 0.25314453]
 [0.5653748  0.41579577]
 [0.6563052  0.25530186]
 [0.59304047 0.6005291 ]
 [0.29698104 0.46347487]
 [0.6896623  0.19648457]
 [0.74226904 0.27846742]
 [0.74153125 0.28565016]
 [0.47476006 0.71777624]
 [0.42132622 0.3724334 ]
 [0.7415077  0.25677767]
 [0.6567728  0.24461013]
 [0.3494437  0.49229193]
 [0.71469957 0.22808263]
 [0.5020686  0.78010947]
 [0.6089275  0.4158051 ]
 [0.886551   0.33485323]
 [0.7838658  0.24469778]
 [0.6957459  0.6300624 ]
 [0.76304483 0.29247713]
 [0.47127864 0.5763055 ]
 [0.71514946 0.21600083]
 [0.5292326  0.6880366 ]
 [0.5202782  0.3964    ]
 [0.7158662  0.27370647]
 [0.4289069  0.3401261 ]
 [0.38339648 0.75720185]
 [0.6515561  0.37727734]
 [0.37877473 0.65917605]
 [0.41468173 0.49281526]
 [0.7069939  0.36637798]
 [0.75485396 0.3420349 ]
 [0.3765711  0.8241292 ]
 [0.41021875 0.5253945 ]
 [0.74974245 0.29926363]
 [0.64197046 0.23450702]
 [0.6516128  0.8148874 ]
 [0.6015984  0.30325165]
 [0.5766028  0.34942567]
 [0.72312427 0.25934088]
 [0.6097401  0.3849614 ]
 [0.62668324 0.18424782]
 [0.75638145 0.3283721 ]
 [0.31650296 0.7687509 ]
 [0.4314066  0.53542906]
 [0.3777665  0.7514654 ]
 [0.62120837 0.27777758]
 [0.48273194 0.45398578]
 [0.29380226 0.51479304]
 [0.7400371  0.3719736 ]
 [0.39268926 0.71321464]
 [0.35516724 0.59247786]
 [0.7020039  0.24648976]
 [0.50725114 0.59707254]
 [0.39620385 0.7391461 ]
 [0.58407485 0.6305889 ]
 [0.58994734 0.32339823]
 [0.6990944  0.28121695]
 [0.44958442 0.4632907 ]
 [0.73572856 0.28876573]
 [0.554449   0.53184295]
 [0.68680435 0.22805518]
 [0.36276394 0.8187135 ]
 [0.45012015 0.69095004]
 [0.73428327 0.29589128]
 [0.47199914 0.8241802 ]
 [0.47224072 0.36856967]
 [0.8423607  0.29357627]
 [0.4617337  0.8251332 ]
 [0.5922461  0.3562288 ]
 [0.50653327 0.26502162]
 [0.5897189  0.30059963]
 [0.7214759  0.27500063]
 [0.65605986 0.2417497 ]
 [0.39804918 0.55052465]
 [0.445848   0.78036815]
 [0.6947725  0.19965114]
 [0.4837469  0.258538  ]
 [0.6211185  0.17206855]
 [0.5996534  0.30456522]
 [0.4773266  0.61730903]
 [0.38356966 0.71735024]
 [0.6589925  0.33823055]
 [0.49063918 0.6330081 ]
 [0.6262616  0.3166375 ]
 [0.6515525  0.24039525]
 [0.7508892  0.31199008]
 [0.7837231  0.27032387]
 [0.48799065 0.6204436 ]
 [0.4055901  0.8628211 ]
 [0.47407436 0.7946654 ]
 [0.3533992  0.62745106]
 [0.44763243 0.45117524]
 [0.40718806 0.82719517]
 [0.71433556 0.2148324 ]
 [0.7737638  0.4074072 ]
 [0.69406664 0.19769296]
 [0.3486218  0.6199966 ]
 [0.5915044  0.39801663]
 [0.72469413 0.6196447 ]
 [0.70770925 0.2162581 ]
 [0.5773252  0.2984473 ]
 [0.3610421  0.5896936 ]
 [0.7358349  0.24348699]
 [0.53540355 0.38903168]
 [0.41639817 0.7996166 ]
 [0.3952028  0.5799313 ]
 [0.83017105 0.34530875]
 [0.5141824  0.46712998]
 [0.6339496  0.22776684]
 [0.7074327  0.26053408]
 [0.70060503 0.35334057]
 [0.4354365  0.76513976]
 [0.354037   0.64505106]
 [0.6537471  0.22151594]
 [0.6564226  0.24277955]
 [0.5120865  0.96354604]
 [0.7246592  0.27904028]
 [0.71350414 0.27232903]
 [0.5049798  0.60929734]
 [0.45912737 0.75512075]
 [0.51486444 0.67594826]
 [0.7309791  0.27704233]
 [0.7257718  0.27094764]
 [0.9464687  0.44548357]
 [0.6988838  0.20531425]
 [0.4838306  0.6318545 ]]

In [ ]:
my_list=[0.42894605,0.53884023]
index_of_max_value=np.argmax(my_list)
print(my_list)
print(index_of_max_value)

[0.42894605, 0.53884023]
1

In [ ]:
y_pred_labels=[np.argmax(i) for i in y_pred]

In [ ]:
from google.colab import files
x_test.to_csv('test_data.csv', index=False)
files.download('test_data.csv')

In [ ]:
input_data=(38,3,38,0,21.0,0,0,8.05,2.0)
input_data_as_numpy_array=np.asarray(input_data)

input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
input_data_std=scaler.transform(input_data_reshaped)

prediction=model.predict(input_data_std)
print(prediction)

prediction_label=[np.argmax(prediction)]
print(prediction_label)

if(prediction_label[0]==0):
  print('not survived')
else:
  print('Survived')

1/1 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 33ms/step
[[0.72956    0.25661162]]
[0]
not survived

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [ ]:
print(y_test)

707    1
37     0
615    1
169    0
68     1
      ..
89     0
80     0
846    0
870    0
251    0
Name: Survived, Length: 179, dtype: int64